
TargetDataScienceTraining/Week 2/HW3/Users/data/part-r-00001-65f2ebb7-61c7-41ae-b3da-9862ca5455f1.gz.parquet

TargetDataScienceTraining/Week 2/HW3/Users/data/.part-r-00000-65f2ebb7-61c7-41ae-b3da-9862ca5455f1.gz.parquet.crc

TargetDataScienceTraining/Week 2/HW3/Users/data/_SUCCESS

*.crc

TargetDataScienceTraining/Week 2/HW3/Users/metadata/_SUCCESS
